TELEMETRY_BIND_ADDR=:8080
TELEMETRY_PUBLIC_HOST=tdc-telemetry.tidbcloud.com
TELEMETRY_ENVIRONMENT=production
TELEMETRY_MAX_BODY_BYTES=65536
TELEMETRY_MAX_EVENTS_PER_REQUEST=20
TELEMETRY_BUFFER_MAX_EVENTS=10000
TELEMETRY_FLUSH_MAX_EVENTS=100
TELEMETRY_FLUSH_MAX_BYTES=262144
TELEMETRY_FLUSH_INTERVAL=5s
TELEMETRY_SHUTDOWN_DRAIN_TIMEOUT=5s
TELEMETRY_SINK_TIMEOUT=5s
TELEMETRY_RATE_LIMIT_PER_MINUTE=60
TELEMETRY_RATE_LIMIT_BURST=120
TELEMETRY_TRUSTED_PROXY_CIDRS=172.16.0.0/12
TIDB_DSN=tdc_telemetry:replace-me@tcp(gateway01.us-east-1.prod.aws.tidbcloud.com:4000)/tdc_telemetry?tls=true&parseTime=true
POSTHOG_API_HOST=https://us.i.posthog.com
POSTHOG_PROJECT_TOKEN=replace-me
