[submodule "ref/drive9"]
	path = ref/drive9
	url = git@github.com:mem9-ai/drive9.git
[submodule "ref/tidbcloud-cli"]
	path = ref/tidbcloud-cli
	url = git@github.com:tidbcloud/tidbcloud-cli.git
[submodule "ref/serverless-js"]
	path = ref/serverless-js
	url = git@github.com:tidbcloud/serverless-js.git
[submodule "docs/pingcap-docs/docs"]
	path = docs/pingcap-docs/docs
	url = git@github.com:pingcap/docs.git
	branch = release-8.5
[submodule "ref/fs"]
	path = ref/fs
	url = git@github.com:tidbcloud/fs.git
[submodule "integration/tidbcloud-fs-e2b-example"]
	path = integration/tidbcloud-fs-e2b-example
	url = git@github.com:likidu/tidbcloud-fs-e2b-example.git
